<div ng-controller="UpdateProjectObjectController as ctrl">
  <p class="step-description" translate>Please provide some details about the object storage resources you may use.</p>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="horizon-loading-bar" ng-if="!model.loaded.object">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="model.visible.buckets" ng-class="{ 'has-error':  updateProjectObjectForm.containers.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Containers (Buckets)</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="containers" name="containers" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.object.buckets"
            min="{$ model.minimum.object.buckets $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.buckets $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.object.buckets $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectObjectForm.containers.$invalid">
            {$ ctrl.projectObjectContainersError $} Min: {$ model.minimum.object.buckets $}
          </span>
        </div>
      </div>
    <div class="form-group" ng-if="model.visible.object_gigabytes" ng-class="{ 'has-error': updateProjectObjectForm.object_gigabytes.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Space in Gigabytes</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="object_gigabytes" name="object_gigabytes" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.object.gigabytes"
            min="{$ model.minimum.object.gigabytes $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.object_gigabytes $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.object.gigabytes $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectObjectForm.object_gigabytes.$invalid">
            {$ ctrl.projectObjectGigabytesError $} Min: {$ model.minimum.object.gigabytes $}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
