<div ng-controller="CreateProjectLoadbalancerController as ctrl">
  <p class="step-description" translate>Please provide some details about the loadbalancer resources you may use.</p>

  <div class="form-group">
    <input type="checkbox" ng-model="ctrl.keepratio" ng-change="ctrl.onChangeLoadBalancers()">
    <label for="ratio" class="control-label">
      <translate>Respect the suggested ratios for loadbalancers</translate>
    </label>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.loadbalancers.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Load Balancers</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="loadbalancers" name="loadbalancers" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.loadbalancers"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-change="ctrl.onChangeLoadBalancers()">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.loadbalancers.$invalid">
          {$ ctrl.projectLoadbalancerLoadBalancersError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.listeners.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Listeners</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="listeners" name="listeners" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.listeners"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.listeners.$invalid">
          {$ ctrl.projectLoadbalancerListenersError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.pools.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Pools</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="pools" name="pools" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.pools"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.pools.$invalid">
          {$ ctrl.projectLoadbalancerPoolsError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.members.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Members</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="members" name="members" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.members"
          min="0"
          ng-required="true"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.members.$invalid">
          {$ ctrl.projectLoadbalancerMembersError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.health_monitors.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Health Monitors</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="health_monitors" name="health_monitors" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.health_monitors"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.health_monitors.$invalid">
          {$ ctrl.projectLoadbalancerHealthMonitorsError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.l7rules.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Layer7 Rules</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="l7rules" name="l7rules" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.l7rules"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.l7rules.$invalid">
          {$ ctrl.projectLoadbalancerL7RulesError $}
        </span>
      </div>

      <div class="form-group"  ng-class="{ 'has-error': createProjectLoadbalancerForm.l7policies.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Layer7 Policies</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="l7policies" name="l7policies" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.loadbalancer.l7policies"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="ctrl.keepratio">
        </input>
        <span class="help-block" ng-show="createProjectLoadbalancerForm.l7policies.$invalid">
          {$ ctrl.projectLoadbalancerL7PoliciesError $}
        </span>
      </div>
    </div>
  </div>
</div>
