#div-hzrequestspanel-button button{
    width: 200px;
    height: 100px;
    border: 0.1em solid #CCCCCC;
}

#div-button-help{
    position: absolute;
    top: 15px;
    left: 93%;
}

#div-button-help-close{
    text-align: right;
}

#button-request-help{
    border: 1px solid #000000;
    background-color: #eeeeee;
    font-size: 2em;
}

#div-quota-charts h4{
    text-align: center;
}

#div-quota-chart-compute{
    border-right: 0.1em solid #DDDDDD;
}

#div-quota-chart-storage-headers div.bold{
    text-align: center;
}

#div-quota-chart-storage-content{
    height: 240px;
    overflow-y: auto;
}

.storage-chart-volumes{
    margin-right: 1em;
}

md-toolbar.help-toolbar-header{
    background-color: #ffffff;
    border-bottom: 1px solid #DDDDDD;
    color: #000000;
}

.bold {
    font-weight: bold;
}

.form {
    font-size: 1.1em;
}

.form h5 {
    font-weight: bold;
}

.form h3{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0.5em;
}

.form input[type='number'] {
    width: 8em;
    text-align: center;
}

.form textarea {
    width: 100%;
}

.form table {
    width: 100%;
    height: 100%;
}

.form .fila {
    border-bottom: 1px solid #f5f5f5;
}

.form .fila:last-child {
    border: 0;
}

.border-section {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.fila .div-title-fila {
    border-right: 1px solid #f5f5f5;
}

.fila .fila-dato:hover {
    background-color: #f5f5f5;
}

.fila .fila-dato div.bold {
    padding: 0.5em;
}

md-dialog {
    max-height: 75%;
    width: 80% !important;
}

.div-input-number {
    text-align: center;
}

.div-input-number span {
    padding: 0.5em;
}

.div-title-fila div {
    margin-top: 2em;
    border: 1px dashed #000000;
}

.volume-description table tr td:first-child {
    width: 48%;
    font-weight: bold;
}

#div_volume_data_headers{
    margin-bottom: 0.5em;
}

#div_share_data_headers{
    margin-bottom: 0.5em;
}

#div_volume_data_headers div{
    text-align: left;
    font-weight: bold;
}

#div_share_data_headers div{
    text-align: left;
    font-weight: bold;
}

#section_compute.fila .fila-dato {
    cursor: default !important;
}

#section_objects.fila .fila-dato {
    cursor: default !important;
}

#div_storage_rows{
    overflow-y: auto;
    height: 243px;
}

#div_share_rows{
    overflow-y: auto;
    height: 150px;
}

#section_compute, #section_storage, #section_comments, #section_share, #section_objects{
    font-size: 1em !important;
}

.personal_project_msg{
    margin-top: 3em;
}

textarea {
    width: 100%;
}

.btn-custom-margin {
    margin-bottom: 30px;
    margin-right:16px;
}

/* FIX for font-family in Angular CSS */
button, html, input, select, textarea{
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
