{% extends 'base.html' %}
{% load i18n horizon humanize sizeformat %}
{% load compress %}
{% block title %}{% trans "Support" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Support") %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}hzrequests/angular-material.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}hzrequests/hzrequestspanel.css">
{% endcompress %}
{% endblock page_header %}

{% block main %}
  {% spaceless %}
  <div class="quota-dynamic limit-summary">
    <div style="text-align: left;">
      <a href="https://cern.service-now.com/service-portal?id=sc_cat_item&name=incident&fe=cloud-infrastructure" target="_blank" class="btn-custom-margin btn btn-default"  title="Click to open ServiceNow website">
        <span class="fa fa-bug"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Report an incident</span>
      </a>
      <a href="https://cern.service-now.com/service-portal?id=sc_cat_item&name=request&fe=cloud-infrastructure" target="_blank" class="btn-custom-margin btn btn-default"  title="Click to open ServiceNow website">
        <span class="fa fa-share-square-o"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Submit a request</span>
      </a>
      <a href="https://clouddocs.web.cern.ch" target="_blank" class="btn-custom-margin btn btn-default"  title="Click to open Cloud documentation">
        <span class="fa fa-question-circle"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Open Cloud documentation</span>
      </a>
      <a href="https://cern.service-now.com/service-portal?id=service_status_board&area=IT" target="_blank" class="btn-custom-margin btn btn-default"  title="Click to open IT Service Status Board">
        <span class="fa fa-info-circle"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Check IT Service Status Board</span>
      </a>
    </div>
  </div>
  {% endspaceless %}
{% endblock %}
