<div ng-controller="CreateProjectComputeController as ctrl">
  <p class="step-description" translate>Please provide some details about the compute resources you may use.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group" ng-class="{ 'has-error': createProjectComputeForm.instances.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Instances</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="instances" name="instances" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.compute.instances"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0"
          ng-change="ctrl.onChangeInstances()">
        </input>
        <span class="help-block" ng-show="createProjectComputeForm.instances.$invalid">
          {$ ctrl.projectComputeInstancesError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectComputeForm.cores.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Cores</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="cores" name="cores" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.compute.cores"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0"
          ng-change="ctrl.onChangeCores()">
        </input>
        <span class="help-block" ng-show="createProjectComputeForm.cores.$invalid">
          {$ ctrl.projectComputeCoresError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectComputeForm.ram.$invalid }">
        <label for="name" class="control-label">
          <translate>RAM in Gigabytes</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="ram" name="ram" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.compute.ram"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0" 
          ng-change="ctrl.onChangeRAM()">
        </input>
        <span class="help-block" ng-show="createProjectComputeForm.ram.$invalid">
          {$ ctrl.projectComputeRAMError $}
        </span>
      </div>
      <div class="form-group">
        <input type="checkbox" ng-model="ctrl.keepratio">
        <label for="ratio" class="control-label">
          <translate>Respect the suggested ratios between instances/cores/RAM</translate>
        </label>
      </div>
    </div>
  </div>
</div>
