<div ng-controller="CreateProjectObjectController as ctrl">
  <p class="step-description" translate>Please provide some details about the object storage resources you may use.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8" ng-if="model.visible.buckets">
      <div class="form-group" ng-class="{ 'has-error': createProjectObjectForm.containers.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Containers (Buckets)</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="containers" name="containers" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.object.buckets"
          min="{$ model.minimum.object.buckets $}"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.buckets $}">
        </input>
        <span class="help-block" ng-show="createProjectObjectForm.containers.$invalid">
          {$ ctrl.projectObjectContainersError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.object_gigabytes">
      <div class="form-group" ng-class="{ 'has-error': createProjectObjectForm.object_gigabytes.$invalid }">
        <label for="name" class="control-label">
          <translate>Space in Gigabytes</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="object_gigabytes" name="object_gigabytes" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.object.gigabytes"
          min="{$ model.minimum.object.buckets $}"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.object_gigabytes $}">
        </input>
        <span class="help-block" ng-show="createProjectObjectForm.object_gigabytes.$invalid">
          {$ ctrl.projectObjectGigabytesError $}
        </span>
      </div>
    </div>
  </div>
</div>
