<div ng-controller="UpdateProjectVolumeController as ctrl">
  <p class="step-description" translate>Please provide some quota details about the block storage resources you may use.</p>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="horizon-loading-bar" ng-if="!model.loaded.volume">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">Volume Type</div>
      <div class="col-sm-3">Number of Volumes</div>
      <div class="col-sm-3">Space in Gigabytes</div>
    </div>
    <div class="row" ng-repeat="volume_type in model.volume_types">
      <div class="col-sm-5">
        <input type="text" id="{$ volume_type.name $}_label" class="form-control"
        ng-model="volume_type.name" disabled>
        </input>
      </div>
      <div class="col-sm-2">
        <input type="number" id="{$ volume_type.name $}_volumes" class="form-control"
          ng-model="model.updateProjectSpec.metadata.quota.blockstorage[volume_type.name].volumes"
          min="{$ model.minimum.blockstorage[volume_type.name].volumes $}"
          ng-change="model.recalculate_ratios()"
          ng-required="true" ng-pattern="/^[0-9]+$/">
        </input>
      </div>
      <div class="col-sm-1">
        <span>{$ model.ratio.blockstorage[volume_type.name].volumes $}</span>
      </div>
      <div class="col-sm-2">
        <input type="number" id="{$ volume_type.name $}_gigabytes" class="form-control"
          ng-model="model.updateProjectSpec.metadata.quota.blockstorage[volume_type.name].gigabytes"
          min="{$ model.minimum.blockstorage[volume_type.name].gigabytes $}"
          ng-change="model.recalculate_ratios()"
          ng-required="true" ng-pattern="/^[0-9]+$/">
        </input>
      </div>
      <div class="col-sm-1">
        <span>{$ model.ratio.blockstorage[volume_type.name].gigabytes $}</span>
      </div>
    </div>
  </div>
  <br/>
  <span class="h5" translate>Backups</span>
  <p class="step-description" translate>If backups are required, please provide the desired amount of resources below:</p>
  <div class="form-group" ng-class="{ 'has-error': updateProjectVolumeForm.backups.$invalid }">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <label for="name" class="control-label">
          <translate>Number of Backups</translate>
          <span class="hz-icon"></span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-sm-6">
        <input id="backups" name="backups" type="number" class="form-control"
          ng-model="model.updateProjectSpec.metadata.quota.blockstorage_backup.backups"
          min="{$ model.minimum.blockstorage_backup.backups $}"
          ng-change="model.recalculate_ratios()"
          ng-required="true" ng-pattern="/^[0-9]+$/">
        </input>
      </div>
      <div class="col-xs-3 col-sm-3">
        <span>{$ model.ratio.blockstorage_backup.backups $}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <span class="help-block" ng-show="updateProjectVolumeForm.backups.$invalid">
          {$ ctrl.projectVolumeBackupsError $} Min: {$ model.minimum.blockstorage_backup.backups $}
        </span>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': updateProjectVolumeForm.backup_gigabytes.$invalid }">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <label for="name" class="control-label">
          <translate>Space in Gigabytes</translate>
          <span class="hz-icon"></span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-sm-6">
        <input id="backup_gigabytes" name="backup_gigabytes" type="number" class="form-control"
          ng-model="model.updateProjectSpec.metadata.quota.blockstorage_backup.backup_gigabytes"
          min="{$ model.minimum.blockstorage_backup.backup_gigabytes $}"
          ng-change="model.recalculate_ratios()"
          ng-required="true" ng-pattern="/^[0-9]+$/">
        </input>
      </div>
      <div class="col-xs-3 col-sm-3">
        <span>{$ model.ratio.blockstorage_backup.backup_gigabytes $}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <span class="help-block" ng-show="updateProjectVolumeForm.backup_gigabytes.$invalid">
          {$ ctrl.projectVolumeBackupGigabytesError $} Min: {$ model.minimum.blockstorage_backup.backup_gigabytes $}
        </span>
      </div>
    </div>
  </div>
</div>
