<div ng-controller="UpdateProjectNetworkController as ctrl">
  <p class="step-description" translate>Please provide some details about the network resources you may use.</p>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="horizon-loading-bar" ng-if="!model.loaded.network">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': updateProjectNetworkForm.ports.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Ports</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="ports" name="ports" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.ports"
            min="{$ model.minimum.network.ports $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.ports $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.ports.$invalid">
            {$ ctrl.projectNetworkPortsError $} Min: {$ model.minimum.network.ports $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.security_groups" ng-class="{ 'has-error': updateProjectNetworkForm.security_groups.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Security Groups</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="security_groups" name="security_groups" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.security_groups"
            min="{$ model.minimum.network.security_groups $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.security_groups $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.security_groups $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.security_groups.$invalid">
            {$ ctrl.projectNetworkSecurityGroupsError $} Min: {$ model.minimum.network.security_groups $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.security_group_rules" ng-class="{ 'has-error': updateProjectNetworkForm.security_group_rules.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Security Group Rules</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="security_group_rules" name="security_group_rules" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.security_group_rules"
            min="{$ model.minimum.network.security_group_rules $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.security_group_rules $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.security_group_rules $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.security_group_rules.$invalid">
            {$ ctrl.projectNetworkSecurityGroupRulesError $} Min: {$ model.minimum.network.security_group_rules $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.floatingips" ng-class="{ 'has-error': updateProjectNetworkForm.floatingips.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Floating IPs</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="floatingips" name="floatingips" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.floatingips"
            min="{$ model.minimum.network.floatingips $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.floatingips $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.floatingips $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.floatingips.$invalid">
            {$ ctrl.projectNetworkFloatingIpsError $} Min: {$ model.minimum.network.floatingips $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.networks" ng-class="{ 'has-error': updateProjectNetworkForm.networks.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Networks</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="networks" name="networks" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.networks"
            min="{$ model.minimum.network.networks $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.networks $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.networks $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.networks.$invalid">
            {$ ctrl.projectNetworkNetworksError $} Min: {$ model.minimum.network.networks $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.subnets" ng-class="{ 'has-error': updateProjectNetworkForm.subnets.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Subnets</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="subnets" name="subnets" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.subnets"
            min="{$ model.minimum.network.subnets $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.subnets $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.subnets $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.subnets.$invalid">
            {$ ctrl.projectNetworkSubnetsError $} Min: {$ model.minimum.network.subnets $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="model.visible.routers" ng-class="{ 'has-error': updateProjectNetworkForm.routers.$invalid}">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Routers</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="routers" name="routers" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.network.routers"
            min="{$ model.minimum.network.routers $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="{$ model.disabled.routers $}">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.network.routers $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectNetworkForm.routers.$invalid">
            {$ ctrl.projectNetworkRoutersError $} Min: {$ model.minimum.network.routers $}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
