<div ng-controller="UpdateProjectDetailsController as ctrl">
  <p class="step-description" translate>Please provide some comments about your update request.</p>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <label for="name" class="control-label">
          <translate>Project Name</translate>
          <span class="hz-icon fa"></span>
        </label>
        <input id="name" name="name" type="text" class="form-control" ng-model="model.updateProjectSpec.project_name" readonly></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <label for="name" class="control-label">
          <translate>Region Name</translate>
          <span class="hz-icon fa"></span>
        </label>
        <input id="region" name="region" type="text" class="form-control" ng-model="model.updateProjectSpec.services_region" readonly></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <label for="name" class="control-label">
          <translate>Charge Group</translate>
          <span class="hz-icon fa"></span>
        </label>
        <div class="horizon-loading-bar" ng-if="!model.loaded.chargegroups">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
        <input id="chargegroup" name="chargegroup" type="text" class="form-control" ng-model="model.chargegroup" readonly></input>
      </div>
    </div>
    <div class="row">
      <div class="form-group" ng-class="{ 'has-error': updateProjectDetailsForm.comment.$invalid}">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <label for="comment" class="control-label">
              <translate>Justification and Additional Comments *</translate>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <textarea id="comment" name="comment" type="text" class="form-control" ng-model="model.updateProjectSpec.comment" ng-required="true"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <span class="help-block" ng-show="updateProjectDetailsForm.comment.$invalid">
              {$ ctrl.projectCommentError $}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
