{% load i18n horizon humanize sizeformat %}

<script src="/static/hzrequests/echarts.min.js" type="text/javascript" charset="utf-8"></script>

{% spaceless %}
  <div class="quota-dynamic limit-summary">
    <h3 class="quota-heading">{% trans "Limit Summary" %}</h3>
    <div id="div_link_monitoring" style="font-size: 1.2em; padding-bottom: 0.5em;">
      <a id="link_monitoring" href="{{ HORIZON_CONFIG.openstack_monitoring_base_url }}?orgId=1&var-project_id={{ request.user.project_id }}"
         title='{% trans "Detailed view of Usage history" %}' target="_blank">{% trans "Detailed view of Usage history" %}</a>
    </div>
    {% for section in charts %}
    <div class="row">
      {% for chart in section.charts %}
      <div id="{{ chart.element|safe }}" style="min-height: {{ chart.min_height|safe }}" class="col-lg-3 {% if not forloop.first %}col-lg-offset-1{% endif %} col-md-4 col-sm-4 col-xs-6"></div>
      {% endfor %}
    </div>
    <br/>
    {% endfor %}
  </div>
{% endspaceless %}

{% for section in charts %}
{% for chart in section.charts %}
<script type="text/javascript">
  var dom = document.getElementById("{{ chart.element|safe }}");
  var chart = echarts.init(dom);
  option = {
    title:{
      text: "{{ chart.title|safe }}"
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {            // Use axis to trigger tooltip
            type: 'shadow'        // 'shadow' as default; can also be 'line' or 'shadow'
        }
    },
    grid: {
        left: '5%',
        right: '5%',
        bottom: '5%',
        containLabel: true
    },
    xAxis: {
        type: 'value'
    },
    yAxis: {
        type: 'category',
        inverse: true,
        data: [
          {% for entry in chart.dataset %}'{{ entry.name }}'{% if not forloop.last %}, {% endif %}{% endfor %}
        ]
    },
    series: [
        {
            name: 'Quota',
            type: 'bar',
            barWidth: 2,
            color: '#ee6666',
            data: [
              {% for entry in chart.dataset %}'{{ entry.limit }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        {
            name: 'Used',
            type: 'bar',
            stack: 'total',
            barWidth: 20,
            label: {
                show: true
            },
            color: '#5470c6',
            data: [
              {% for entry in chart.dataset %}'{{ entry.used }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        },
        {
            name: 'Free',
            type: 'bar',
            barWidth: 20,
            stack: 'total',
            label: {
                show: true
            },
            color: '#91cc75',
            data: [
              {% for entry in chart.dataset %}'{{ entry.free }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
        }
    ]
  };

  if (option && typeof option === 'object') {
      chart.setOption(option);
  }
</script>
{% endfor %}
{% endfor %}
