{% extends 'base.html' %}
{% load i18n horizon humanize sizeformat %}
{% load compress %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}hzrequests/angular-material.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}hzrequests/hzrequestspanel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}hzrequests/select.css">
{% endcompress %}
{% endblock page_header %}

{% block main %}
  {% spaceless %}
  <div class="quota-dynamic limit-summary">
    <div style="text-align: left;">
      <a href="javascript:void(0);" ng-controller="CreateProjectModalController as modal" ng-click="modal.openCreateProjectWizard({successUrl: '{{hzrequestsUrl}}'})" id="project__creation-ng" class="btn-custom-margin btn btn-default">
        <span class="fa fa-plus"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Request a new project</span>
      </a>
      {% if isShared %}
      <a href="javascript:void(0);" ng-controller="UpdateProjectModalController as modal" ng-click="modal.openUpdateProjectWizard({successUrl: '{{hzrequestsUrl}}'})" id="quota__update-ng" class="btn-custom-margin btn btn-default">
        <span class="fa fa-edit"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Request a quota change</span>
      </a>
      <a href="https://resources.web.cern.ch/resources/Manage/CloudInfrastructure/Resources.aspx" target="_blank" class="btn-custom-margin btn btn-default"  title="Click to open Resources website">
        <span class="fa fa-group"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Manage access</span>
      </a>
      {% endif %}
      {% if isShared %}
      <a href="javascript:void(0);" ng-controller="DeleteProjectModalController as modal" ng-click="modal.openDeleteProjectWizard({successUrl: '{{hzrequestsUrl}}'})" id="project__deletion-ng" class="btn-custom-margin btn btn-danger">
        <span class="fa fa-trash"></span>
        <span style="font-family:Open Sans, Helvetica, Arial, sans-serif !important;"> Delete this project</span>
      </a>
      {% endif %}
    </div>
  </div>
  {% endspaceless %}

  {% include "hzrequestspanel/overview/_limit_summary.html" %}
{% endblock %}
