<div>
  <p translate>
    Specify the following elements to trigger your project creation.
  </p>
  <p translate>
    As the Group/Section structure may change in the future, please avoid any reference of it in the <b>Project Name</b>.
  </p>
  <p translate>
     Please choose an <b>Charge Group</b> in which your project is going to be mapped to.
     It is used to aggregate projects belonging to the same experiment, functional element, project or department.
     All projects in the Cloud Service are linked to a chargegroup for accounting purposes.
  </p>
  <p translate>
    The <b>Owner</b> of the project is always a primary account to proper manage the lifecycle of the project.
  </p>
  <p translate>
    You can specify multiple egroups in the <b>Egroup(s)</b> parameter, if so please separate them by commas.
  </p>
  <p translate>
    Please add a reason for the project creation, as well as any additional comments to be considered in the review process, in the <b>Justification and Additional Comments</b>.
  </p>
</div>
