<div ng-controller="CreateProjectDetailsController as ctrl">
  <p class="step-description" translate>Please provide some details about the project like: name, description, owner, egroups and comments.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group" ng-class="{ 'has-error': createProjectDetailsForm.name.$invalid}">
        <label for="name" class="control-label">
          <translate>Project Name</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="name" name="name" type="text" class="form-control" ng-model="model.newProjectSpec.project_name" ng-required="true"></input>
        <span class="help-block" ng-show="createProjectDetailsForm.name.$invalid">
          {$ ctrl.projectNameError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectDetailsForm.description.$invalid}">
        <label for="name" class="control-label">
          <translate>Description</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="description" name="description" type="text" class="form-control" ng-model="model.newProjectSpec.description" ng-required="true">
        <span class="help-block" ng-show="createProjectDetailsForm.description.$invalid">
          {$ ctrl.projectDescriptionError $}
        </span>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Region Name</translate>
            <span class="hz-icon fa"></span>
          </label>
          <input id="region" name="region" type="text" class="form-control" ng-model="model.newProjectSpec.services_region" readonly></input>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">
          <translate>Charge group</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <div class="horizon-loading-bar" ng-if="!model.loaded.chargegroups">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
        <ui-select id="chargegroup" ng-model="model.newProjectSpec.chargegroup.selected" skip-focusser="true" ng-required="true" theme="bootstrap">
          <ui-select-match placeholder="Enter a chargegroup name...">{$ $select.selected.name $}</ui-select-match>
          <ui-select-choices repeat="chargegroup in model.chargegroups | filter: $select.search track by chargegroup.name | limitTo: ($select.search.length < 2) ? 0 : undefined" position="down">
            <div ng-bind-html="chargegroup.name | highlight: $select.search"></div>
            <small>
              category: {$ chargegroup.category $}
              org_unit: <span ng-bind-html="''+chargegroup.org_unit | highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>
        <span class="help-block" ng-show="createProjectDetailsForm.chargegroup.$invalid">
          {$ ctrl.projectChargeGroupError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectDetailsForm.owner.$invalid }">
        <label for="owner" class="control-label">
          <translate>Owner</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="owner" name="owner" type="text" class="form-control" ng-model="model.newProjectSpec.owner" ng-required="true"
          validate-user ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"></input>
        <span class="help-block" ng-show="createProjectDetailsForm.owner.$pending">
          {$ ctrl.projectOwnerValidation $}
        </span>
        <span class="help-block" ng-show="createProjectDetailsForm.owner.$invalid">
          {$ ctrl.projectOwnerError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectDetailsForm.egroup.$invalid }">
        <label for="egroup" class="control-label">
          <translate>Administrator egroup(s)</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="egroup" name="egroup" type="text" class="form-control" ng-model="model.newProjectSpec.egroup" ng-required="true"
          validate-group ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"></input>
        <span class="help-block" ng-show="createProjectDetailsForm.egroup.$pending">
          {$ ctrl.projectEgroupValidation $}
        </span>
        <span class="help-block" ng-show="createProjectDetailsForm.egroup.$invalid">
          {$ ctrl.projectEgroupError $}
        </span>
      </div>

      <div class="form-group">
        <input type="checkbox" ng-model="model.newProjectSpec.metadata.default.egroup_responsible">
        <label for="default_egroup_responsible" class="control-label">
          <translate>Set group as default responsible in landb</translate>
        </label>
      </div>

      <div class="form-group">
        <input type="checkbox" ng-model="model.newProjectSpec.metadata.default.egroup_mainuser">
        <label for="default_egroup_mainuser" class="control-label">
          <translate>Set group as default mainuser in landb</translate>
        </label>
      </div>
      <div class="form-group" ng-class="{ 'has-error': createProjectDetailsForm.comment.$invalid }">
        <label for="comment" class="control-label">
          <translate>Justification and Additional Comments *</translate>
        </label>
        <textarea id="comment" name="comment" type="text" class="form-control" ng-model="model.newProjectSpec.comment" ng-required="true"></textarea>
        <span class="help-block" ng-show="createProjectDetailsForm.comment.$invalid">
          {$ ctrl.projectCommentError $}
        </span>
      </div>

    </div>
  </div>
</div>
