<div>
  <p translate>
    Please specify the number of networks, subnets, ports, floating IPs, routers, security groups and rules that you may need in total for all resources in this project.
  </p>
</div>
