<div ng-controller="CreateProjectNetworkController as ctrl">
  <p class="step-description" translate>Please provide some details about the network resources you may use.</p>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.ports.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Ports</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="ports" name="ports" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.ports"
          min="{$ model.newProjectSpec.metadata.quota.compute.instances $}"
          ng-required="true"
          ng-pattern="/^[0-9]+$/">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.ports.$invalid">
          {$ ctrl.projectNetworkPortsError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.security_groups">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.security_groups.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Security Groups</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="security_groups" name="security_groups" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.security_groups"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.security_groups $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.security_groups.$invalid">
          {$ ctrl.projectNetworkSecurityGroupsError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.security_group_rules">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.security_group_rules.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Security Group Rules</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="security_group_rules" name="security_group_rules" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.security_group_rules"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.security_group_rules $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.security_group_rules.$invalid">
          {$ ctrl.projectNetworkSecurityGroupRulesError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.floatingips">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.floatingips.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Floating IPs</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="floatingips" name="floatingips" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.floatingips"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.floatingips $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.floatingips.$invalid">
          {$ ctrl.projectNetworkFloatingIpsError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.networks">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.networks.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Networks</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="networks" name="networks" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.networks"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.networks $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.networks.$invalid">
          {$ ctrl.projectNetworkNetworksError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.subnets">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.subnets.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Subnets</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="subnets" name="subnets" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.subnets"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.subnets $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.subnets.$invalid">
          {$ ctrl.projectNetworkSubnetsError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8" ng-if="model.visible.routers">
      <div class="form-group"  ng-class="{ 'has-error': createProjectNetworkForm.routers.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Routers</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="routers" name="routers" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.network.routers"
          min="0"
          ng-required="true"
          ng-pattern="/^[0-9]+$/"
          ng-disabled="{$ model.disabled.routers $}">
        </input>
        <span class="help-block" ng-show="createProjectNetworkForm.routers.$invalid">
          {$ ctrl.projectNetworkRoutersError $}
        </span>
      </div>
    </div>
  </div>
</div>
