<div>
  <p translate>
    Please specify the number of loadbalancers, listeners, pools, members, health monitors, l7 rules and policies that you may need in total for all resources in this project.
  </p>
</div>
