<div ng-controller="UpdateProjectLoadBalancerController as ctrl">
  <p class="step-description" translate>Please provide some details about the loadbalancer resources you may use.</p>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="horizon-loading-bar" ng-if="!model.loaded.loadbalancer">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="checkbox" ng-model="ctrl.keepratio" ng-change="ctrl.onChangeLoadBalancers()">
      <label for="ratio" class="control-label">
        <translate>Respect the suggested ratios for loadbalancers</translate>
      </label>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.loadbalancers.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Load Balancers</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="loadbalancers" name="loadbalancers" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.loadbalancers"
            min="{$ model.minimum.loadbalancer.loadbalancers $}"
            ng-change="ctrl.onChangeLoadBalancers()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.loadbalancers $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.loadbalancers.$invalid">
            {$ ctrl.projectLoadBalancerLoadBalancersError $} Min: {$ model.minimum.loadbalancer.loadbalancers $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.listeners.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Listeners</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="listeners" name="listeners" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.listeners"
            min="{$ model.minimum.loadbalancer.listeners $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.listeners $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.listeners.$invalid">
            {$ ctrl.projectLoadbalancerListenersError $} Min: {$ model.minimum.loadbalancer.listeners $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.pools.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Pools</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="pools" name="pools" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.pools"
            min="{$ model.minimum.loadbalancer.pools $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.pools $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.pools.$invalid">
            {$ ctrl.projectLoadbalancerPoolsError $} Min: {$ model.minimum.loadbalancer.pools $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.members.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Members</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="members" name="members" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.members"
            min="{$ model.minimum.loadbalancer.members $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.members $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.members.$invalid">
            {$ ctrl.projectLoadbalancerMembersError $} Min: {$ model.minimum.loadbalancer.members $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.health_monitors.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Health Monitors</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="health_monitors" name="health_monitors" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.health_monitors"
            min="{$ model.minimum.loadbalancer.health_monitors $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.health_monitors $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.health_monitors.$invalid">
            {$ ctrl.projectLoadbalancerHealthMonitorsError $} Min: {$ model.minimum.loadbalancer.health_monitors $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.l7rules.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Layer7 Rules</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="l7rules" name="l7rules" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.l7rules"
            min="{$ model.minimum.loadbalancer.l7rules $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.l7rules $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.l7rules.$invalid">
            {$ ctrl.projectLoadbalancerL7RulesError $} Min: {$ model.minimum.loadbalancer.l7rules $}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': updateProjectLoadbalancerForm.l7policies.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Layer7 Policies</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="l7policies" name="l7policies" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.loadbalancer.l7policies"
            min="{$ model.minimum.loadbalancer.l7policies $}"
            ng-change="model.recalculate_ratios()"
            ng-required="true"
            ng-pattern="/^[0-9]+$/"
            ng-disabled="ctrl.keepratio">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.loadbalancer.l7policies $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectLoadBalancerForm.l7policies.$invalid">
            {$ ctrl.projectLoadbalancerL7PoliciesError $} Min: {$ model.minimum.loadbalancer.l7policies $}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
