<div ng-controller="CreateProjectFileShareController as ctrl">
  <p translate>Here is a list with the share types available and its characteristics</p>
  <table class='table table-striped'>
    <tr>
      <th>Name</th>
      <th>Usage</th>
      <th>Type</th>
      <th>Critical Power</th>
    </tr>
    <tr ng-repeat = "type_meta in ctrl.share_type_meta">
      <td>{$ type_meta.name $}</td>
      <td>{$ type_meta.usage $}</td>
      <td>{$ type_meta.type $}</td>
      <td>{$ type_meta.critical $}</td>
    </tr>
  </table>
</div>