<div ng-controller="CreateProjectFileShareController as ctrl">
  <p class="step-description" translate>Please provide some quota details about the file share resources you may use.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group">
        <div class="horizon-loading-bar" ng-if="!model.loaded.fileshare">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-5">Share Type</div>
      <div class="col-sm-3">Number of Shares</div>
      <div class="col-sm-3">Space in Gigabytes</div>
    </div>
  </div>
  <div class="row" ng-repeat="share_type in model.share_types">
    <div class="form-group">
      <div class="col-sm-5">
        <input type="text" id="{$ share_type.name $}_label" class="form-control"
          ng-model="share_type.name" disabled>
        </input>
      </div>
      <div class="col-sm-3">
        <input type="number" id="{$ share_type.name $}_volumes" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.fileshare[share_type.name].shares"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
      </div>
      <div class="col-sm-3">
        <input type="number" id="{$ share_type.name $}_gigabytes" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.fileshare[share_type.name].gigabytes"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
      </div>
    </div>
  </div>
  <br>
  <p><strong>Note:</strong> "Meyrin CephFS Vault SSD A" doesn't reflect the current location of this share type. The cluster was moved in Nov 2022 to critical power.</p>
</div>
