<div ng-controller="CreateProjectVolumeController as ctrl">
  <p class="step-description" translate>Please provide some quota details about the block storage resources you may use.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group">
        <div class="horizon-loading-bar" ng-if="!model.loaded.volume">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-5">Volume Type</div>
      <div class="col-sm-3">Number of Volumes</div>
      <div class="col-sm-3">Space in Gigabytes</div>
    </div>
  </div>
  <div class="row" ng-repeat="volume_type in model.volume_types">
    <div class="form-group">
      <div class="col-sm-5">
        <input type="text" id="{$ volume_type.name $}_label" class="form-control"
          ng-model="volume_type.name" disabled>
        </input>
      </div>
      <div class="col-sm-3">
        <input type="number" id="{$ volume_type.name $}_volumes" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.blockstorage[volume_type.name].volumes"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
      </div>
      <div class="col-sm-3">
        <input type="number" id="{$ volume_type.name $}_volumes" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.blockstorage[volume_type.name].gigabytes"
          ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
      </div>
    </div>
  </div>
  <br/>
  <span class="h5" translate>Backups</span>
  <p class="step-description" translate>If volume backups are required, please provide the amount of resources:</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group" ng-class="{ 'has-error': createProjectVolumeForm.backups.$invalid }">
        <label for="name" class="control-label">
          <translate>Number of Backups</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="backups" name="backups" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.blockstorage_backup.backups" ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
        <span class="help-block" ng-show="createProjectVolumeForm.backups.$invalid">
          {$ ctrl.projectVolumeBackupsError $}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': createProjectVolumeForm.backup_gigabytes.$invalid }">
        <label for="name" class="control-label">
          <translate>Space in Gigabytes</translate>
          <span class="hz-icon"></span>
        </label>
        <input id="backup_gigabytes" name="backup_gigabytes" type="number" class="form-control"
          ng-model="model.newProjectSpec.metadata.quota.blockstorage_backup.backup_gigabytes" ng-required="true" ng-pattern="/^[0-9]+$/" min="0">
        </input>
        <span class="help-block" ng-show="createProjectVolumeForm.backup_gigabytes.$invalid">
          {$ ctrl.projectVolumeBackupGigabytesError $}
        </span>
      </div>
    </div>
  </div>
</div>
