<div ng-controller="CreateProjectVolumeController as ctrl">
  <p translate>Here is a list with the volume types available and its characteristics</p>
  <table class='table table-striped'>
    <tr>
      <th>Name</th>
      <th>Usage</th>
      <th>Type</th>
      <th>Min IOPS</th>
      <th>IOPS</th>
      <th>Max Throughput</th>
    </tr>
    <tr ng-repeat = "type_meta in ctrl.volume_type_meta">
      <td>{$ type_meta.name $}</td>
      <td>{$ type_meta.usage $}</td>
      <td>{$ type_meta.type $}</td>
      <td>{$ type_meta.min_iops $}</td>
      <td>{$ type_meta.iops $}</td>
      <td>{$ type_meta.throughput $}</td>
    </tr>
  </table>
</div>
