<div ng-controller="DeleteProjectDetailsController as ctrl">
  <p class="step-description" translate>Please confirm project name to delete.</p>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group">
        <label for="name" class="control-label">
          <translate>Project Name</translate>
        </label>
        <div class="horizon-loading-bar" ng-if="!model.loaded.current_name">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
        <input id="current_name" name="current_name" type="text" class="form-control" ng-model="model.project_name" readonly></input>
      </div>

      <div class="form-group" ng-class="{ 'has-error': deleteProjectDetailsForm.name.$invalid }">
        <label for="name" class="control-label">
          <translate>Confirm Project Name</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input id="name" name="name" type="text" class="form-control" ng-model="model.deleteProjectSpec.project_name" ng-Pattern="model.regex" ng-required="true"></input>
        <span class="help-block" ng-show="deleteProjectDetailsForm.name.$invalid">
          {$ ctrl.projectNameError $}
        </span>
      </div>

      <div class="form-group">
        <label for="name" class="control-label">
          <translate>Additional Comments</translate>
        </label>
        <textarea id="comments" name="comments" type="text" class="form-control" ng-model="model.deleteProjectSpec.comment">
      </div>
    </div>
  </div>
</div>
