<div>
  <p translate>
    Please confirm the name of the project to be deleted.
  </p>
  <p translate>
    Please ensure that there are no resources (Virtual Machines, Volumes, File Shares, Images, ...)
    associated to the project.Please confirm the name of the project to be deleted.
  </p>
</div>