<div ng-controller="UpdateProjectComputeController as ctrl">
  <p class="step-description" translate>Please provide some details about the compute resources you may use.</p>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="horizon-loading-bar" ng-if="!model.loaded.compute">
          <div class="progress progress-striped active">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': updateProjectComputeForm.instances.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Instances</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="instances" name="instances" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.compute.instances"
            min="{$ model.minimum.compute.instances $}"
            ng-change="ctrl.onChangeInstances()"
            ng-required="true" ng-pattern="/^[0-9]+$/">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.compute.instances $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectComputeForm.instances.$invalid">
            {$ ctrl.projectComputeInstancesError $} Minimum: {$ model.minimum.compute.instances $}
          </span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': updateProjectComputeForm.cores.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>Number of Cores</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="cores" name="cores" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.compute.cores"
            min="{$ model.minimum.compute.cores $}"
            ng-change="ctrl.onChangeCores()"
            ng-required="true" ng-pattern="/^[0-9]+$/">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.compute.cores $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectComputeForm.cores.$invalid">
            {$ ctrl.projectComputeCoresError $} Minimum: {$ model.minimum.compute.cores $}
          </span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': updateProjectComputeForm.ram.$invalid }">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <label for="name" class="control-label">
            <translate>RAM in Gigabytes</translate>
            <span class="hz-icon"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9 col-sm-6">
          <input id="ram" name="ram" type="number" class="form-control"
            ng-model="model.updateProjectSpec.metadata.quota.compute.ram"
            min="{$ model.minimum.compute.ram $}"
            ng-change="ctrl.onChangeRAM()"
            ng-required="true" ng-pattern="/^[0-9]+$/">
          </input>
        </div>
        <div class="col-xs-3 col-sm-3">
          <span>{$ model.ratio.compute.ram $}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <span class="help-block" ng-show="updateProjectComputeForm.ram.$invalid">
            {$ ctrl.projectComputeRAMError $} - Minimum: {$ model.minimum.compute.ram $}
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="checkbox" ng-model="ctrl.keepratio">
      <label for="ratio" class="control-label">
        <translate>Respect the suggested ratios between instances/cores/RAM</translate>
      </label>
    </div>
  </div>
</div>
